.todoGroup {
    background-color: #dbe7fc;
    margin: 0 50px 0 50px;
    border: 1px solid black;
    padding: 30px 0 30px 0;
}
.icon {
    font-size: 20px;
}
.margin-left {
    margin-left: 24px;
}
.finish-icon {
    color: green;
}
.text {
    float: left;
}
.ant-card-body {
    /* min-width: 35rem; */
    padding: 0 !important;
}
.context {
    padding: 0 16px 0 16px;
}
.text {
    margin: 20px 0 20px 0;
    max-width: 32rem;
    overflow: hidden;
    word-wrap: break-word;
}
.float {
    margin: 20px 0 20px 0;
    float: right;
}
.modal {
    margin: 30px;
}
