.card-container {
    display: flex;
    justify-content: center;
}
.row {
    display: flex;
    font-size: 18px;
}
.row-name {
    flex: 1;
    text-align: right;
	font-weight: 700;
}
.row-value {
	padding-left: 16px;
    flex: 5;
    text-align: left;
}
